<footer class="container-fluid bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">
              <h4 class="w-50 logo-footer"><i class="fa fa-check-square-o" aria-hidden="true"></i>Checkit</h4>
              <p>A website to make customer visit safe in every place near them.   </p>
            </div>
          </div>
          <div class="col-md-6 ">
            <a class="btn-footer" [routerLink]="['/join']" routerLinkActive="router-link-active" >Sign Up As Business</a><br>
            <!-- <a href="#" class="btn-footer"> Contact Us</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="hash">
      <p class="copyright">© Made with &#10084; by BPIT</p>
    </div>
  </div>
</footer>
